.intro__borderCircle {
  position: absolute;
  left: 50%;
  bottom: 151px;
  will-change: transform;
  transform: translateX(-50%);
  border: 2px solid #E8E8E8;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  z-index: 1;
}