.popup_type_header {
	position: absolute;
	top: 25px;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
  padding: 25px 60px 0;
	width: max-content;
	height: min-content;
	background-color: #fff;
  border-radius: 50px;
  left: 50%;
  transform: translateX(-50%);
	cursor: default;
}

@media screen and (max-width: 991px) {
	.popup_type_header {
		padding: 30px 9% 0;
	}
}

@media screen and (max-width: 767px) {
    .popup_type_header {
      padding: 30px 5% 0;
    }
  }


@media screen and (max-width: 575px) {
  .popup_type_header {
    top: 150px;
    padding: 30px 30px 0;
  }
}
