.button {
  display: block;
  width: max-content;
  box-sizing: border-box;
  padding: 9px 23px;
  background-color: #48B774;
  color: #fff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.button:hover {
  opacity: .8;
}